* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lucidatypewriter, monospace;
}

.ForgotPassword {
  /* background-image: url("../images/Cover_5.svg"); */
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.forgotPassword__heading {
  margin-bottom: 30px;
}

.forgot__input {
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 20px;
  border: 1px solid lightgray;
  background: #fff;
  font-size: 16px;
  outline: none;
}

.forgot__input:focus {
  border: 1px solid rgb(0, 0, 196);
}

.forgot__emailLabel {
  padding-bottom: 10px;
  font-weight: bold;
}

.forgotPassword__resetBtn {
  padding: 20px;
  border: none;
  background-color: rgb(2, 2, 110);
  font-weight: 500;
  font-size: 20px;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  margin-top: 10px;
}

.forgotPassword__resetBtn:hover {
  background-color: rgb(0, 0, 196);
}

@media screen and (min-width: 960px) {
  .forgotPassword__resetBtn {
    width: 250px;
  }
}
