@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;1000&display=swap");
* {
    box-sizing: border-box;
    font-family: inherit;
}
.Landing {
    /* background-image: url("../images/Cover_5.svg"); */
    background-color: #051d34;
    font-size: 40px;
    color: whitesmoke;
    font-family: "Manrope", sans-serif;
    min-height: calc(100vh - 70px);
    position: relative;
    overflow: hidden;
}
.content-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 70px;
}
.background-image {
    height: 100%;
}
.image-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 90%;
}

/* .maintext {
    color: whitesmoke;
    display: flex;
    margin-top: 40;
    padding-top: 10%;
} */

.text {
    color: #f22bb2;
}

.landing__btn {
    background-color: #f22bb2;
    color: whitesmoke;
    font-size: 28px;
    padding: 10px;
    /* width: 240px;
  height: 62px;
  padding: 1px;
  padding-top: 7px; */
    margin-top: 30px;
    border: none;
    border-radius: 8px;
    display: flex;
    text-align: center;
}

.landing__btn:hover {
    cursor: pointer;
    background-color: #f624d2;
}

@media only screen and (max-width: 900px) {
    .Landing {
        font-size: 30px;
    }
    .content-wrapper {
        top: 40%;
    }
    .image-wrapper {
        height: 80%;
    }
    /* .Landing {
        font-size: 40px;
        padding-top: 20%;
        padding-bottom: 30%;
    }
    .text {
        font-size: 40px;
        margin: 0;
    }
    .maintext {
        float: left;
        font-size: 40px;
        margin-right: 8px;
    }
    .landing__btn {
        width: 220px;
        margin-top: 10px;
        align-items: center;
        text-align: center;
        font-size: 24px;
        height: 50px;
    } */
}

@media only screen and (max-width: 700px) {
    /* .Landing {
        font-size: 20px;
    } */
    .maintext {
        text-align: center;
    }
    .content-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-left: 0;
    }
    .content-wrapper {
        top: 50%;
    }
    .landing__btn {
        margin-top: 50px;
        flex: 1;
    }
    .image-wrapper {
        height: 50%;
    }
}
