* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lucidatypewriter, monospace;
}

.Login {
  background: #051d34;
  /* background-position: 80% 0%; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login__heading {
  margin-bottom: 30px;
  color: #fff;
}

.login__input {
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 20px;
  border: 1px solid lightgray;
  background: #fff;
  font-size: 16px;
  color: rgb(0, 0, 32);
  outline: none;
}

.zz {
  z-index: 200;
}

.login__input:focus {
  border: 1px solid rgb(0, 0, 196);
}

.login__label {
  padding-bottom: 10px;
  color: #fff;
  font-weight: bold;
}

.login__btn {
  padding: 20px;
  border: none;
  background-color: rgb(2, 2, 110);
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  margin-top: 10px;
}

.login__btn:hover {
  background-color: rgb(0, 0, 196);
}

/* .mt {
  margin-top: 10px;
} */

.login__signUpLink {
  color: #fff;
}

.login__white {
  color: rgb(0, 0, 196);
}

@media screen and (min-width: 960px) {
  .login__btn {
    width: 250px;
  }
}
