@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lucidatypewriter, monospace;
}

.ReportPage {
  background: #000;
}

.container {
  background-image: url("../images/Thumbnail_2.svg");
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding-right: 50%;
  padding-left: 10%;
  padding-top: 10%;
  /* align-items: center; */
  text-align: start;
}

.form {
  display: flex;
  flex-direction: column;
  /* transform: translate(20%, 20%); */
  justify-content: left;
  padding-bottom: 80px;
  text-align: start;
}

.report__heading {
  color: whitesmoke;
  padding-bottom: 80px;
  font-size: 40px;
}

.report__input {
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
  border: 1px solid lightgray;
  background: #fff;
  font-size: 16px;
  color: rgb(0, 0, 32);
  outline: none;
  max-width: 450px;
}

.report__input2 {
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 8px;
  margin-bottom: 20px;
  max-width: 450px;
  border: 1px solid lightgray;
  background: #fff;
  font-size: 16px;
  color: rgb(0, 0, 32);
  outline: none;
}

.report__input:focus {
  border: 1px solid rgb(0, 0, 196);
}

.form__element {
  display: flex;
  flex-direction: column;
}

.report__label {
  padding-bottom: 10px;
  color: whitesmoke;
  font-weight: bold;
}

.report__btn {
  width: 142;
  height: 63;
  border-radius: 8px;
  padding: 20px;
  border: none;
  background-color: #fe9a22;
  font-weight: 500;
  font-size: 20px;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  /* margin-top: 10px; */
}

.form > button:hover {
  background-color: #fe9a22;
}
.empty {
  padding-bottom: 170px;
}

@media screen and (min-width: 1520px) {
  .form,
  .report__heading {
    transform: translate(20%, 0%);
  }

  .report__btn {
    transform: translate(95%, 0%);
  }
}

@media screen and (max-width: 1020px) {
  .container {
    padding-right: 10%;
    padding-left: 15%;
    padding-top: 40%;
  }
  .container {
    background-image: url("../images/Thumbnail_1.svg");
  }
}
@media screen and (max-width: 1024px) and (min-width: 601px) {
  .container {
    padding-right: 30%;
  }
  .empty {
    padding-bottom: 250px;
  }
}
