* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lucidatypewriter, monospace;
}

.Report {
  background-image: url("../images/Cover_5.svg");
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.report__heading {
  margin-bottom: 30px;
  color: #fff;
}

.report__input {
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 20px;
  border: 1px solid lightgray;
  background: #fff;
  font-size: 16px;
  color: rgb(0, 0, 32);
  outline: none;
}

.report__input:focus {
  border: 1px solid rgb(0, 0, 196);
}

.form__element {
  display: flex;
  flex-direction: column;
}

.report__label {
  float: left;
  padding-bottom: 10px;
  color: #fff;
  font-weight: bold;
}

.report__btn {
  padding: 20px;
  border: none;
  background-color: rgb(2, 2, 110);
  font-weight: 500;
  font-size: 20px;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  margin-top: 10px;
  float: left;
}

.form > button:hover {
  background-color: rgb(0, 0, 196);
}

@media screen and (min-width: 960px) {
  .login__btn {
    width: 250px;
  }
}
