.update__cancel {
  padding: 10px;
  border: none;
  background-color: rgb(223, 2, 2);
  font-weight: 500;
  font-size: 20px;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  margin-top: 10px;
  margin-right: 10px;
  width: 85px;
  float: right;
}

.update__cancel:hover {
  background-color: rgb(144, 20, 20);
}

.update__cancelLink {
  color: #ffffff;
  text-decoration: none;
}
